@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4b483;
}
